#title{
   margin: 0 auto;
   width:400px;
   font-size: 110%;
}

table {
    float: left;
    margin:0 auto;
    border-collapse:collapse;
}

#waku{
	margin:0 auto;
	width:400px;
	height:300px;
	font-size: 110%;
}

caption {
    margin:0 auto;
	font-size:90%;
    font-weight: bold;
    color: #336;
    text-decoration: underline;
    width:400px;
}

h1{
	text-align:center;
}

th {
    background-color: #e0e0e0;
    border: solid 1px #808080;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #CCC;
}

#btn_back{
	margin: 0 -40px;
	text-align:center;
	width:90px;
	height:25px;
	background: #e5e5e5;
	border: solid 1px #afafaf;
}
