table {
    float: left;
    margin-right: 30px;
    border-collapse:collapse;
}

caption {
    font-weight: bold;
    color: #336;
    text-decoration: underline;
    width:300px;
}

th {
    background-color: #CCC;
    border: solid 1px #999;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #CCC;
}
.price {
    text-align: right;
}

.off {
    color: #CCC;
}
#id {
    width: 80px;
}

#name {
    width: 160px;
}

#price {
    width: 110px;
}

#error {
    width: 300px;
}

#turnOver td {
    border: none;
}

#next {
    float: right;
}