<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>restaurant_cafe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ItemSelector</display-name>
    <servlet-name>ItemSelector</servlet-name>
    <servlet-class>restaurant_cafe02.ItemSelector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemSelector</servlet-name>
    <url-pattern>/ItemSelector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDeletion</display-name>
    <servlet-name>ItemDeletion</servlet-name>
    <servlet-class>restaurant_cafe02.ItemDeletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDeletion</servlet-name>
    <url-pattern>/ItemDeletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemEditor</display-name>
    <servlet-name>ItemEditor</servlet-name>
    <servlet-class>restaurant_cafe02.ItemEditor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemEditor</servlet-name>
    <url-pattern>/ItemEditor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemSelectorPrevious</display-name>
    <servlet-name>ItemSelectorPrevious</servlet-name>
    <servlet-class>restaurant_cafe02.ItemSelectorPrevious</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemSelectorPrevious</servlet-name>
    <url-pattern>/ItemSelectorPrevious</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemSelectorNext</display-name>
    <servlet-name>ItemSelectorNext</servlet-name>
    <servlet-class>restaurant_cafe02.ItemSelectorNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemSelectorNext</servlet-name>
    <url-pattern>/ItemSelectorNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemManager</display-name>
    <servlet-name>ItemManager</servlet-name>
    <servlet-class>restaurant_cafe02.ItemManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemManager</servlet-name>
    <url-pattern>/ItemManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>restaurant_cafe02.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResBean</display-name>
    <servlet-name>ResBean</servlet-name>
    <servlet-class>restaurant_cafe.bean.ResBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResBean</servlet-name>
    <url-pattern>/ResBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemUpdate</display-name>
    <servlet-name>ItemUpdate</servlet-name>
    <servlet-class>restaurant_cafe02.ItemUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemUpdate</servlet-name>
    <url-pattern>/ItemUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemUpdate2</display-name>
    <servlet-name>ItemUpdate2</servlet-name>
    <servlet-class>restaurant_cafe02.ItemUpdate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemUpdate2</servlet-name>
    <url-pattern>/ItemUpdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Restaurant_cafe</display-name>
    <servlet-name>Restaurant_cafe</servlet-name>
    <servlet-class>Restaurant_cafe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurant_cafe</servlet-name>
    <url-pattern>/Restaurant_cafe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerForm</display-name>
    <servlet-name>registerForm</servlet-name>
    <servlet-class>restaurant_cafe01.registerForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerForm</servlet-name>
    <url-pattern>/registerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validator</display-name>
    <servlet-name>Validator</servlet-name>
    <servlet-class>restaurant_cafe02.Validator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInsertion2</display-name>
    <servlet-name>ItemInsertion2</servlet-name>
    <servlet-class>restaurant_cafe02.ItemInsertion2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsertion2</servlet-name>
    <url-pattern>/ItemInsertion2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInsertion</display-name>
    <servlet-name>ItemInsertion</servlet-name>
    <servlet-class>restaurant_cafe02.ItemInsertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsertion</servlet-name>
    <url-pattern>/ItemInsertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInsertion3</display-name>
    <servlet-name>ItemInsertion3</servlet-name>
    <servlet-class>restaurant_cafe02.ItemInsertion3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsertion3</servlet-name>
    <url-pattern>/ItemInsertion3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateAndTime</display-name>
    <servlet-name>DateAndTime</servlet-name>
    <servlet-class>restaurant_cafe02.DateAndTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateAndTime</servlet-name>
    <url-pattern>/DateAndTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validator01</display-name>
    <servlet-name>Validator01</servlet-name>
    <servlet-class>restaurant_cafe02.Validator01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator01</servlet-name>
    <url-pattern>/Validator01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Work</display-name>
    <servlet-name>Work</servlet-name>
    <servlet-class>Work</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Work</servlet-name>
    <url-pattern>/Work</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Time</display-name>
    <servlet-name>Time</servlet-name>
    <servlet-class>restaurant_cafe.util.Time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time</servlet-name>
    <url-pattern>/Time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerForm</display-name>
    <servlet-name>/registerForm</servlet-name>
    <jsp-file>/WEB-INF/jsp/registerForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerForm</servlet-name>
    <url-pattern>/registerFormr</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/datasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>restaurant_cafe02.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordAuthenticaiton</display-name>
    <servlet-name>PasswordAuthenticaiton</servlet-name>
    <servlet-class>restaurant_cafe02.PasswordAuthenticaiton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordAuthenticaiton</servlet-name>
    <url-pattern>/PasswordAuthenticaiton</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ForcedRepatriationFilter</display-name>
    <filter-name>ForcedRepatriationFilter</filter-name>
    <filter-class>restaurant_cafe02.ForcedRepatriationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ForcedRepatriationFilter</filter-name>
    <url-pattern>/ForcedRepatriationFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForcedRepatriationFilter</filter-name>
    <servlet-name>Logout</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForcedRepatriationFilter</filter-name>
    <url-pattern>/selectItem.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDeletion2</display-name>
    <servlet-name>ItemDeletion2</servlet-name>
    <servlet-class>restaurant_cafe02.ItemDeletion2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDeletion2</servlet-name>
    <url-pattern>/ItemDeletion2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validator02</display-name>
    <servlet-name>Validator02</servlet-name>
    <servlet-class>restaurant_cafe02.Validator02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator02</servlet-name>
    <url-pattern>/Validator02</url-pattern>
  </servlet-mapping>
</web-app>